
body {
  border: black solid 1px;
  width: 30%;
  margin: 50px auto;
  background-color: transparent;

}

#image {
  border-radius: 20%;
}

h1, p, h2, p {
  text-align: center;
  color: rgb(248, 242, 242);
}

h1 {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.button {
  text-align: center;
  margin: 50px auto;
  color: white;

}

.LinkedIn {
  background-color: blue;
}

.email {
  color: black;
}

#card {
  background-color: rgb(11, 46, 20);
  color: rgb(255, 255, 255);
  border-radius:;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  border: 10px rgb(11, 46, 20) solid;
}

button {
  border-radius: 20px;
  color: white
  
}


p {
  font-family: colona 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #eef097;

}

footer {
  font-size: 11px;
  color: #999;
  margin-top: 10px;
  border: 2px solid;
  background-color: black !important;
  
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(199, 195, 142);
}