* {
  
}
body {
  width: 30%;
  margin: 50px auto;
  background-color: rgb(168, 155, 95);
  display: flex;
  align-items: center;
  position: flex;
  

}

.image {
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  position: relative;
  display: inline;
  Border-radius: 50px;
  font-family: bradley hand, cursive;
  
}



h1 {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.button {
  text-align: center;
  margin: 20px auto;
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;

}

.LinkedIn {
  background-color: blue;
  color: white;
}

.email {
  color: black;
  
}

#card {
  background-color: rgb(202, 226, 208);
  color: rgb(12, 10, 10);
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  border-radius: 30px;
  padding-top: 20px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  

}

button {
  border-radius: 20px;
  color: white
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;

  
}


p {
  font-family: colona 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: #202001;
  font-size: 40px;

}

footer {
  font-size: 11px;
  color: #999;
  margin-top: 10px;
  border: 2px solid;
 
  
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(199, 195, 142);
}

.about {
  
  color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  margin: 10px;
  background-color: rgb(32, 59, 39);
  padding: 20px;
}

.contact {
  background-color: rgb(232, 245, 235);
  padding-bottom: 20px;
  border: 5px rgb(237, 240, 240) solid;
  background-color: rgb(32, 59, 39);
  position: relative;
  text-align: center;
  justify-content: center;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black !important;
  font-family: 'Courier New', Courier, monospace;
  padding: none;
  line-height: 0.5px;
}